apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    service: jvb
  name: jvb
  namespace: test
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: jvb
    spec:
      containers:
      - env:
        - name: JVB_PORT
          value: "10000"
        - name: XMPP_SERVER
          value: 10.100.172.51
#          value: <IP address of the prosody ClusterIP service>
        - name: DOCKER_HOST_ADDRESS
          value: 10.100.221.17 
#          value: <External IP address of the LoadBalancer service exposing the UDP:10000 TCP:4443 ports of the videobridge>
        - name: XMPP_DOMAIN
          value: test.devopsk8s.cf
        - name: XMPP_AUTH_DOMAIN
          value: auth.test.devopsk8s.cf
        - name: JVB_COMPONENT_SECRET
#          value: s3cr3t
          value: password
        - name: JVB_AUTH_PASSWORD
          value: password
        - name: JVB_STUN_SERVERS
          value: meet-jit-si-turnrelay.jitsi.net:443
#          value: stun.l.google.com:19302,stun1.l.google.com:19302,stun2.l.google.com:19302
        - name: JICOFO_AUTH_USER
          value: focus
        - name: TZ
          value: Asia/Kolkata
        - name: JVB_TCP_HARVESTER_DISABLED
          value: "true"
        - name: JVB_TCP_PORT
          value: "4443"
        - name: JVB_AUTH_USER
          value: jvb
        - name: JVB_BREWERY_MUC
          value: jvbbrewery
        - name: XMPP_INTERNAL_MUC_DOMAIN
          value: internal-muc.test.devopsk8s.cf
        image: jitsi/jvb
        name: jvb
        ports:
        - containerPort: 10000
          protocol: UDP
        - containerPort: 4443
        resources: {}
      restartPolicy: Always
